---
Language:        Cpp
BasedOnStyle:  Chromium
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
BinPackParameters: true
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      false
  SplitEmptyFunction: false
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: false
ColumnLimit:     100
ConstructorInitializerIndentWidth: 2
IncludeCategories:
  - Regex:           '^".*'
    Priority:        1
  - Regex:           '^<boost.*'
    Priority:        98
  - Regex:           '^<.*\.h>'
    Priority:        2
  - Regex:           '^<.*'
    Priority:        99
  - Regex:           '.*'
    Priority:        4
IncludeIsMainRegex: '(Test)?$'
IndentCaseLabels: false
IndentWidth:     4
MaxEmptyLinesToKeep: 2
PenaltyBreakAssignment: 1
PenaltyBreakComment: 50
TabWidth:        4
...
